input
{
display : none;
}

#content_left
{
height : 200px;
width : 19%;
float : left;
background-color : none;
}

#content_middle
{
height : 400px;
width : 950px;
float : left;
background-color : none;
}

#content
{
width : 100%;
height : 400px;
float : left;
top : 15%;
left : 0px;
right : 0px;
background-color : none;
position : absolute;
}

body
{
overflow-y : hidden;
}